@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: green !important;
  font-weight: bold !important;
}

.text-shadow {
  text-shadow: 0 0 2px black;
  color: #fff !important;
}
