@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: green;
  font-weight: bold;
}

.text-shadow {
  text-shadow: 0 0 2px black;
  color: #fff !important;
}
/* 
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
} */
